<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luke.record.mapper.VideoRecordMapper">
    
    <resultMap type="VideoRecord" id="VideoRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="videoId"    column="video_id"    />
        <result property="videoType"    column="video_type"    />
        <result property="videoBrief"    column="video_brief"    />
        <result property="videoContent"    column="video_content"    />
        <result property="videoPath"    column="video_path"    />
        <result property="imgPath"    column="img_path"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectVideoRecordVo">
        select r.record_id, r.video_id,g.video_type,g.video_brief,g.video_content,g.video_path,g.img_path,g.status from video_record r,goods_video g
        where r.video_id = g.video_id
    </sql>

    <select id="selectVideoRecordList" parameterType="VideoRecord" resultMap="VideoRecordResult">
        <include refid="selectVideoRecordVo"/>
         <if test="videoId != null "> and r.video_id = #{videoId}</if>
         <if test="userId != null "> and r.user_id = #{userId}</if>
        ORDER BY r.create_time desc
    </select>
    
    <select id="selectVideoRecordByRecordId" parameterType="Long" resultMap="VideoRecordResult">
        <include refid="selectVideoRecordVo"/>
        where record_id = #{recordId}
    </select>
        
    <insert id="insertVideoRecord" parameterType="VideoRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into video_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="videoId != null">video_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="videoId != null">#{videoId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateVideoRecord" parameterType="VideoRecord">
        update video_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="videoId != null">video_id = #{videoId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteVideoRecordByRecordId" parameterType="Long">
        delete from video_record where record_id = #{recordId}
    </delete>

    <delete id="deleteVideoRecordByRecordIds" parameterType="String">
        delete from video_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>